* {
    margin: 0;
    padding: 0;
}

#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    width: 50%;
    height: 10px;
}

input {
    border: 1px soild black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#miniContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(rgb(210, 192, 253), white);
    width: 100%;
}

#mainContainer {
    width: 100%;
}